<app-toolbar></app-toolbar>
<table mat-table [dataSource]="dataTable">

  <!-- Columna 'id' -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Año </th>
    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <!-- Columna 'name' -->
  <ng-container matColumnDef="term-amort">
    <th mat-header-cell *matHeaderCellDef> Térm. Amort. </th>
    <td mat-cell *matCellDef="let element"> {{element.termAmort}} </td>
  </ng-container>

  <!-- Columna 'email' -->
  <ng-container matColumnDef="quota-amort">
    <th mat-header-cell *matHeaderCellDef> Cuota Amort. </th>
    <td mat-cell *matCellDef="let element"> {{element.quotaAmort}} </td>
  </ng-container>

  <!-- Columna 'phone' -->
  <ng-container matColumnDef="interests">
    <th mat-header-cell *matHeaderCellDef> Intereses </th>
    <td mat-cell *matCellDef="let element"> {{element.interests}} </td>
  </ng-container>

  <ng-container matColumnDef="cap-amort">
    <th mat-header-cell *matHeaderCellDef> Cap. Amortiz. </th>
    <td mat-cell *matCellDef="let element"> {{element.capAmort}} </td>
  </ng-container>

  <ng-container matColumnDef="cap-pending">
    <th mat-header-cell *matHeaderCellDef> 	Cap. Pendiente </th>
    <td mat-cell *matCellDef="let element"> {{element.capPending}} </td>
  </ng-container>

  <!-- Definición de las columnas en la tabla -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
